.btn-map-actions-container {
    position: fixed;
    bottom: 70px;
    left: 20px;
    z-index: 9999;
}

#btn-toggle-map-actions {
    border: none;
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 100%;
    color: white;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 100;
}

#btn-toggle-map-actions i {
    transition: .5s;
}

#btn-toggle-map-actions.active i {
    transform: rotate(45deg);
}

.btn-map-actions {
    margin: 0;
    padding: 0;
    margin-left: 2px;
}

.btn-map-actions li {
    list-style: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin: 10px 0px;
    background: #93C020;
    border-radius: 100%;
    text-align: center;
    line-height: 45px;
    color: white;
    font-size: 1.2em;
    transition: .5s;
    position: relative;
    bottom: -45px;
    opacity: 0;
    border: 2px solid #93C020;
}

.btn-map-actions li:hover {
    background: white;
    color: #93C020;
}

.btn-map-actions.active li {
    bottom: 0;
    opacity: 1;
}

.filters-map-container {
    width: 350px;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    background: white;
    z-index: 9999;
    position: fixed;
    top: 58px;
    left: -356px;
    transition: .5s;
    padding-bottom: 150px;
}

.filters-map-container.active {
    left: 0;
}

.filters-map-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #93C020;
    color: white;
}

.filters-map-header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.filters-map-header button {
    border: none;
    background: transparent;
    font-size: 1.2em;
    color: #59770b;
    cursor: pointer;
    outline: none;
}

.list-item-filters-map button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: .2s;
    margin: 0px;
    outline: none;
    width: 100%;
    text-align: left;
}

.list-item-filters-map ul {
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
}

.list-item-filters-map ul li {
    list-style: none;
    padding: 5px 0px;
    /* border-bottom: 1px solid #e2e2e2; */
    cursor: pointer;
    transition: .3s;
    font-size: 16px;
    margin-left: 35px;
}

.list-item-filters-map ul li button i {
    display: none;
}

.list-item-filters-map ul li button.active i {
    display: inline-block;
}

.list-item-filters-map ul button {
    white-space: normal;
    text-align: left;
    margin-right: 10px;
}

/* .list-item-filters-map ul li:hover{
    padding-left: 10px;
} */

.list-item-filters-map button span {
    margin-left: 15px;
}

.list-item-filters-map.active>button,
.list-item-filters-map button:hover {
    background: #2C3E50;
    color: white;
}

.list-item-filters-map.active ul {
    height: auto;
}


.tooltip-wrapper {
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
    opacity: 0;
    /* width: 180px; */
    text-align: center;
    position: absolute;
    z-index: 9999;
    padding: 10px 15px;
}

.tooltip-wrapper:after {
    content: "";
    height: 20px;
    width: 20px;
    background: #ffffff;
    transform: rotate(45deg);
    position: absolute;
    left: -5px;
    bottom: 40%;
}

.tooltip-wrapper .tooltip-content {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip-wrapper .tooltip-content p { 
    font-size: 14px;
    text-align: center;
    line-height: 18px;
}

.tooltip-wrapper .tooltip-content p .tooltip-label{
    font-weight: bold;
}

.marker-image {
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 50% 0;
    background: #93c020;
    transform: rotate(-45deg);
}
.marker-image::after {
    content: '';
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    margin: 2px 1px 1px 3px;
    background: #93c020;
    position: absolute;
    border-radius: 50%;
}

.image-div-marker img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    left: 2px;
    text-align: center;
    border-radius: 50%;
    object-fit: contain;
    background: #93c020;
}